[submodule "submodule/mongodb"]
	path = submodule/mongodb
	url = https://github.com/chum-ch/mongodb.git
[submodule "submodule/handle-error"]
	path = submodule/handle-error
	url = https://github.com/chum-ch/handle-error.git
